<h1 class="text-center mt-4">Edit your profile</h1>

<!-- Note that the 'form' reference here really refers to the '_form.html.erb' partial file.-->
<!-- Ruby know to attach the '_' -->
<%= render 'form' %>
